
<h1 class="text-center mt-4">Cart</h1>

<table class="table table-hover mt-4" *ngIf="selectedproducts; else noItemTemplate">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Sub Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let selectedproduct of selectedproducts; index as i">
        <td><img [src]="selectedproduct.ProductPicUrl" style="width: 70px;" class="card-img-top"></td>
        <td>{{selectedproduct.Name}}</td>
        <td>{{selectedproduct.Price | currency:'$':true}}</td>
        <!-- <td><input type="number" [(ngModel)]="selectedproduct.Quantity"></td> -->
        <!-- <td><input type="number" [(ngModel)]="selectedproduct.Quantity" min=1></td> -->
        <td>
            <div class="content">
            <button 
            type="button" class="btn"(click)="incQnt(selectedproduct.ProductId,selectedproduct.num,selectedproduct.Quantity)">
            <i class="fa fa-plus"></i>
            </button>
            <span>{{selectedproduct.num}}</span>
            <button type="button"class="btn" (click)="decQnt(selectedproduct.ProductId,selectedproduct.num)">
            <i class="fa fa-minus"></i>
            </button>
            </div>
            </td>
        <!-- <input type="number" name="quantity" id="quantity" #quantityRef="ngModel" ngModel min=1 max=selectedproduct.Quantity required> -->
        <td>{{selectedproduct.Price * selectedproduct.Quantity | currency:'$':true}} </td>
        <td>
          <button class="btn btn-danger mr-3" (click)="Delete(i)">Delete</button>
          <!-- <button class="btn btn-success mr-3" (click)="Save(i)">Save</button> -->
          
        </td>
      </tr>
    </tbody>
</table>

<div class="card">
  <h5 class="card-header">Cart Totals</h5>
  <div class="card-body">
    <div class="row">
      <div class="col col-6">Total</div>
      <div class="col col-6" align="right">{{total | currency:'$':true}}</div>
      <button class="btn btn-primary" style="margin-top: 20px;">Checkout</button>
      <button class="btn btn-danger " (click)="Delete_All()" style="margin-top: 20px;margin-left: 20px;" >Delete All</button>
    </div>
  </div>
</div>


  <!-- <span>{{selectedproducts | json}}</span> -->

  <ng-template #noItemTemplate>
    <div class="alert alert-info">No products are selected</div>
  </ng-template>

