
<div id="about" class="container-fluid ">
    <div class="row">
      <div class="col-sm-8">
        <div class="container p-3 my-3 bg-dark text-white">
          <h1>About Company </h1>
        </div>
        
        <h4>
             
            
            In 2021, when our web was founded, the Middle East had tremendous potential for e-commerce: Its total population was more than 350 million, half of whom were younger than 25. But the region was highly fragmented in terms of laws and customs, logistics, and payment infrastructure.
        
        </h4>

      </div>
      
    </div>
  </div>
  
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"> 
          <img src="../../../assets/img/12.png" class="img-thumbnail" alt="logo">
        </span>
      </div>
      <div class="col-sm-8">
          <div class="container p-3 my-3 bg-dark text-white">
            <h1>Our Values</h1>
          </div>
          <h4><strong>MISSION:</strong>We connect people and products – opening up a world of possibility. From bracelets and backpacks to tablets and toy cars – we give you access to everything you need and want. Our range is unparalleled, and our prices unbeatable.

              Driven by smart technology, everything we do is designed to put the power directly in your hands – giving you the freedom to shop however, whenever and wherever you like. </h4><br>
          <h4><strong>VISION:</strong> We’re trusted by millions, because we don’t just deliver to your doorstep, we were born here. With Souq.com you’ll always be getting a good deal – with exceptional service that makes your shopping experience as easy and seamless as possible.</h4>
      </div>
    </div>
  </div>
 


 