<div class="container" style="padding-top: 8%;">
    <form #cartForm="ngForm" (ngSubmit)="onSubmit(cartForm)">

        <div class="row" >
            <div class="col-md-5">
                <img src="{{product.ProductPicUrl}}" alt="">
            </div>
            <div class="col-md-4" id="middle-card">
                <h6 style="color:gray">Category: {{product.Category}}</h6>
                <br>
                <h5>Name: {{product.Name}}</h5>
                <br>
                <h6>Description: {{product.Description}}</h6>
            </div>

            <div class="col-md-3 " id="right-card">
                <div id="inner-card">
                    <p style="display: inline;">Availability: </p>
                    <p *ngIf="product.Status=='Available'" style="color:limegreen;display: inline;">In Stock.</p>
                    <p *ngIf="product.Status!='Available'" style="color: red; display: inline;">Out Of Stock!</p>
                    <hr style="margin-right:10%">
                    <h2 id="price">${{product.Price}}</h2>
                    <p>Quantity: </p>
                    <input type="number" name="quantity" id="quantity" #quantityRef="ngModel" ngModel min=1 required>
                    <button [disabled]="product.Quantity<quantityRef.value" id="submit" type="submit"><i class='fas fa-cart-plus'></i>Add To Cart</button>
                    <p *ngIf="product.Quantity<quantityRef.value" style="color: red;">Not enoguh in stock, please select fewer quantity</p>
                    <p *ngIf="cartForm.form.invalid && cartForm.submitted" style="color: red; padding-top: 20px;">Please add the quantity you want.</p>
                    <p *ngIf="cartForm.form.valid && cartForm.submitted" style="color: limegreen;padding-top: 20px;">Added To Card!</p>

                </div>
            </div>
        </div>
    </form>
</div>