@import url("https://fonts.googleapis.com/css?family=Bellefair");
.sticky {
 // position: -webkit-sticky;
  position: sticky;
  top: 0;
  right:70px;
  width: 200px;
}

#sticky {

  background: #90acd3;
  width: 150px;
  height: 80px;
 
  display: flex;
  justify-content: center;
  align-items: flex;
  box-shadow: 0 0 6px#dce6df;
  color: #000;
  border-radius: 50px;
}
.test {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: block;
  background: yellow;
  border: 3px solid yellow;
  font-style: Arial, sans-serif;
  margin-top: 12px;
}

