 <!--Important link source from https://bootsnipp.com/snippets/ooa9M-->
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <!------ Include the above in your HEAD tag ---------->
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
 <footer id="dk-footer" class="dk-footer">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 col-lg-4">
                     <div class="dk-footer-box-info">
                         <a href="index.html" class="footer-logo">
                             <img src="https://img2.pngio.com/protect-your-portable-electronic-devices-with-these-accessories-electronic-devices-png-1290_659.png" alt="footer_logo" class="img-fluid">
                         </a>
                         <p class="footer-info-text">
                            Reference site about E-Commerce,online store for electronics devices.
                         </p>
                         <div class="footer-social-link">
                           
                             <h3>Follow us</h3>
 
                             <ul>
                               
                                 <li>
                                     <a href="#">
                                         <i class="fa fa-facebook"></i>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="#">
                                         <i class="fa fa-twitter"></i>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="#">
                                         <i class="fa fa-google-plus"></i>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="#">
                                         <i class="fa fa-linkedin"></i>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="#">
                                         <i class="fa fa-instagram"></i>
                                     </a>
                                 </li>
                             </ul>
                         </div>
                         <!-- End Social link -->
                     </div>
                     <!-- End Footer info -->
                     <div class="footer-awarad">
                         <img src="images/icon/best.png" alt="">
                         <p>Best Design Company 2021</p>
                     </div>
                 </div>
                 <!-- End Col -->
                 <div class="col-md-12 col-lg-8">
                     <div class="row">
                         <div class="col-md-6">
                             <div class="contact-us">
                                 <div class="contact-icon">
                                     <i class="fa fa-map-o" aria-hidden="true"></i>
                                 </div>
                                 <!-- End contact Icon -->
                                 <div class="contact-info">
                                     <h3>Alexandria Egypt</h3>
                                     <p>Main branch</p>
                                 </div>
                                 <!-- End Contact Info -->
                             </div>
                             <!-- End Contact Us -->
                         </div>
                         <!-- End Col -->
                         <div class="col-md-6">
                             <div class="contact-us contact-us-last">
                                 <div class="contact-icon">
                                     <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                 </div>
                                 <!-- End contact Icon -->
                                 <div class="contact-info">
                                     <h3>01212222038</h3>
                                     <p>Give us a call</p>
                                 </div>
                                 <!-- End Contact Info -->
                             </div>
                             <!-- End Contact Us -->
                         </div>
                         <!-- End Col -->
                     </div>
                     <!-- End Contact Row -->
                     <div class="row">
                       <div class="col-md-16 col-lg-6">
                           <div class="footer-widget footer-left-widget">
                               <div class="footer-social-link">
                                   <h3> Our vision</h3>
                                   <span class="animate-border border-black"></span>
                               </div>
                            <div style="color: white;">
                                “Our vision is to create a better everyday life for many people.” That’s aspirational, short and to the point. More than that, it sets the tone for the company and makes it clear that they’re in the market to offer low-priced good electronics that suit everyone’s lifestyle.
                            </div>
                           </div>
                           <!-- End Footer Widget -->
                       </div>
                      
                       <!-- End Col -->
                   </div>
                     <!-- End Row -->
                 </div>
                 <!-- End Col -->
             </div>
             <!-- End Widget Row -->
         </div>
         <!-- End Contact Container -->
 
 
         <div class="copyright">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 " style="align-items:center;">
                         <span>Copyright © 2021, All Right Reserved </span>
                     </div>
                     <!-- End Col -->
                 </div>
                 <!-- End Row -->
             </div>
             <!-- End Copyright Container -->
         </div>
         <!-- End Copyright -->
        
        
 </footer>
 
   
